<!-- Render the current ad's title and content -->
<h3><%= @ad.title %></h3>
<%= @ad.content %><br></br>

<!-- Check if current user owns ad, if so places delete and edit buttons -->
<% if current_user == @ad.user %>
  <form method="post" action="/ads/<%=@ad.id%>/delete">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input id="delete" type="submit" value="Delete Ad">
  </form><br>

  <form method="get" action="/ads/<%=@ad.id%>/edit">
    <input id="hidden" type="hidden" name="_method" value="Edit">
    <input id="edit" type="submit" value="Edit Ad">
    </form>

<!-- Else renders a contact seller link -->
<% else %>
  <a href="<%= @ad.user.email %>">Contact Seller</a>
<% end %>
