<% if @ads != nil %>
  <% @ads.all.each do |ad| %>
    <a href="/ads/<%= ad.id %>"><h3><%= ad.title %></h3></a>
    <p><%= ad.content %></p>

    <% if ad.user == current_user %>
      <a href="/ads/<%= ad.id %>/edit">Manage Ad</a>
    <% else %>
      <a href="<%= ad.user.email %>">Contact Seller</a>
    <% end %>

    <hr>
  <% end %>
<% end %>
